@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap'); 

:root {
    --primary-color: rgb(10, 126, 227); 
    --primary-color-hover: rgb(11, 0, 172);
    --primary-color-darker: rgb(30, 83, 255);
    --primary-color-more-darker: rgb(0, 24, 104);
}

* { 
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color); 
    font-family: 'Open sans', sans-serif; 
    font-size: 1em; 
    line-height: 1.5em; 
}

a {
    color: inherit;
}

a:link {
    text-decoration: none;
}

.h1 {
    text-align: center;
    font-size: 2rem;
}

.h1:hover {
    text-shadow: 1px 1px black;
}

.h1 img {
    margin-left: 20px;
    transition: 0.3s;
}

.h1 img:hover {
    transform: rotate(30deg);
}

.container { 
    max-width: 60%;  
    margin: 50px auto; 
    background: #ffffff;
    padding: 20px;
    border-radius: 8px; 
    text-align: center;
    border: 2px solid;
    box-shadow: 8px 8px 13px 0px;
}

form input, form label, form button { /* Seleciona todos os elementos do formulário */
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    margin-top: 20px;
    transition: 0.3s;
}

form input {
    font-size: 1.2em;
    height: 50px;
    margin-top: 0px;
    border: 2.5px solid;
    opacity: 0.6;
}

form input:hover {
    box-shadow: 8px 8px 13px 0px;
    opacity: 1;
}

form button {
    border: 1px solid black;
    border-radius: 8px;
    background: var(--primary-color-darker);
    color: #ffffff;
    font-family: 'Open sans', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    height: 50px;
    cursor: pointer; 
    margin-top: 30px;
    box-shadow: 4px 6px 11px 0px rgb(0 0 0);
}

form button:hover { 
    background: var(--primary-color-hover);
}

form button:active { 
    background: var(--primary-color-more-darker);
}

#voltar {
    border: 1px solid black;
    border-radius: 8px;
    background: var(--primary-color-darker);
    color: #ffffff;
    font-family: 'Open sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    cursor: pointer; 
    margin-top: 10px;
    box-shadow: 4px 6px 11px 0px rgb(0 0 0);
    width: 100%;
}

 #voltar:hover {
    background: var(--primary-color-hover);
    transition: 0.3s;
}

#voltar:active {
    background: var(--primary-color-more-darker);
}

#disclaimer {
    font-style: oblique;
    font-size: 15px;
    margin-top: 10px;
    color:rgba(53, 53, 53, 0.685);
}

.unit { 
    position: relative; 
    display: block; 
    left: 10px; 
    top: 40px;
    font-size: 1.3em;
}

select {
    font-family: 'Open sans', sans-serif;
}
  
.box select {
    text-align: center;
    background-color:var(--primary-color-darker);
    color: white;
    width: 75%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.2em;
    text-align-last: center;
    transition: 0.3s;
    box-shadow: 4px 6px 11px 0px rgb(0 0 0);
}

.box select:hover {
    background: var(--primary-color-hover);
}

.bares {
    display: inline-block;
    width: 45%;
    max-width: 50%;
    height: 250px;
    margin-top: 8px;
    padding: 10px;
    
}

.dia {
    display: inline-block;
    width: 45%;
    max-width: 50%;
    height: 250px;
    margin-top: 30px;
    padding: 10px;
}

.baladas {
    display: inline-block;
    width: 45%;
    max-width: 50%;
    height: 250px;
    margin-top: 8px;
    padding: 10px;
}

.sede {
    display: inline-block;
    width: 45%;
    max-width: 50%;
    height: 250px;
    margin-top: 30px;
    padding: 10px;
}

.orc {
    display: inline-block;
    height: 200px;
    margin-top: 8px;
}

#total-role {
    background: var(--primary-color);
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid black;
    transition: 0.3s;
    width: 100%;
    color: white;
    font-size: 30px;
}

#total-role:hover {
    box-shadow: 8px 8px 13px 0px black;
}

#foto-role img {
    border-radius: 8px;
    border: 1px solid black;
    transition: 0.3s;
    width: 50%;
    height: 50%;
    display: inline-block;
    margin-top: 10px;
}

#foto-role img:hover {
    box-shadow: 8px 8px 13px 0px black;
}

#cara-role {
    display: inline-block;
    width: 45%;
}

#cara-role img {
    border: none;
    width: 30%;
    margin-bottom: 30px;
}

#cara-role img:hover {
    box-shadow: none;
}

.paragrafo-resultado, .bad {
    background: rgba(134, 255, 54, 0.747);
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid black;
    transition: 0.3s;
}

.paragrafo-resultado:hover, .bad:hover {
    box-shadow: 8px 8px 13px 0px;
}

.bad {
    background:rgba(252, 90, 90, 0.685);
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid black;
}
